    .canvasContainer {
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        text-align: center;
        align-items: center;
        flex-flow: column;
        width: 50%;
        min-width: 500px;
        /** prev 33.33% */
        height: auto;
        /* min-height: 650px; */
        margin: 0px 0px 0px 0px;
        background-color: rgba(0, 0, 0, 0);
        /* border: 2px solid black; */
        /* prev #D5D5D5 */
    }
    
    .canvasInstructions {
        margin: 5px;
        font-size: 2em;
    }
    
    .studio {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 100%;
    }
    
    .canvas-container-button-container {
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    
    .canvasContainerButton {
        margin: 5px;
        width: 40%;
        max-width: 250px;
        height: 50px;
        border-radius: 8px;
        text-transform: uppercase;
        padding: 1px;
        box-shadow: 0px 12px 10px -10px rgba(0, 0, 0, 0.4);
        cursor: pointer;
        transition: all ease-in-out 300ms;
        background-color: #fafafa;
        font-weight: bold;
        font-size: 1em;
    }
    
    .canvasContainerButton:hover {
        box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
        -webkit-transform: translate(0px, -2px) scale(1.1);
        transform: translate(0px, -2px) scale(1.1);
    }
    
    @media(max-width: 501px) {
        .canvasContainer {
            min-width: 300px;
            width: 100%;
            border: none;
            /* width: auto; */
        }
        .canvasInstructions {
            font-size: 1.5em;
        }
    }