.shapeContainer {
    position: relative;
    border: 1px solid rgb(10, 180, 20);
    margin: 10px 0 0 0;
    background-color: #fafafa;
}

/* 
polygon:hover{
    cursor: pointer;
    stroke: #ff0000;
    stroke-width: 2px;
    fill: white;
} */