.footer {
    /* position: absolute;
    bottom: 0; */
    display: flex;
    flex-flow: column;
    align-content: center;
    justify-content: center;
    height: 32px;
    width: 100%;
    background-color: #1C2626;
    color: #dfd0b7;
}